<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.Name %>
</p>

<p>
  <strong>Endingdate:</strong>
  <%= @product.EndingDate %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.Description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock.Name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
